<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
			<span class="bigger-120">
				<span class="blue bolder">Eya & Ghofrane</span>
				Application &copy; 2020-2021
			</span>


		</span>
	</div>
</div></div>
