<footer class="ftco-footer ftco-bg-dark ftco-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">À propos du B2B</h2>
					<p>
						Ce système facilite la promotion et l’organisation des versions futures d’un même évènement à partir de l’information déjà recueillie auprès des participants.</p>

				</div>

			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Heures de travail</h2>
					<div class="opening-hours">
						<h4>Jours d'ouverture:</h4>
						<p class="pl-3">
							<span>Du lundi au vendredi: de 9 h 00 à 20 h 00</span>
							<span>Samedi: 9h à 17h</span>
						</p>
						<h4>Les vacances:</h4>
						<p class="pl-3">
							<span>Tous les jours fériés</span>
							<span>Tous les dimanches</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Vous avez des questions?</h2>
					<div class="block-23 mb-3">
						<ul>
							<li>
								<span class="icon icon-map-marker"></span>
								<span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
							</li>
							<li>
								<a href="#">
									<span class="icon icon-phone"></span>
									<span class="text">+2 392 3929 210</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icon icon-envelope"></span>
									<span class="text">info@yourdomain.com</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center"></div>
		</div>
	</div>
</footer>
