<form method="post" action="{{ path('participantservice_delete', {'reference': participantservice.reference}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participantservice.reference) }}">
	<button class="btn"><img src="https://img.icons8.com/material-rounded/22/fa314a/trash.png"/></button>
</form>
