{% extends 'layout/layout.html.twig' %}


{% block body %}
	<div class="main-content">
		<div class="main-content-inner">
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="#">Accueil</a>
					</li>

					<li>
						<a href="#">Gestion de choix des rencontres</a>
					</li>

				</ul>
				<!-- /.breadcrumb -->
			</div>
			<div class="page-content">

				<div class="page-header">
					<h1>
						Listes des entreprises choisies

					</h1>
				</div>
				<!-- /.page-header -->

				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">

								<div class="clearfix">
									<div class="pull-right tableTools-container"></div>
								</div>

								<div>
									<table id="dynamic-table" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Dénomination</th>
												<th>Email</th>
												<th>Téléphone</th>
												<th>Actions</th>

											</tr>
										</thead>
										<tbody>

											<tr>
												<td>Xtensus</td>
												<td>contact@xtensus.com</td>
												
												<td>+216 71 856 100	</td>
												<td>
													<div class="col-sm-2">
														<a class="red" href="">
															<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</a>

												</td>
											</tr>
											<tr>
												<td>Entreprise 2</td>
												<td>contact@entreprise2.com</td>
												<td>+216 71 000 001</td>
									
												
												<td>
													<div class="col-sm-2">
														<a class="red" href="">
															<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</a>


												</td>
											</tr>
											<tr>
												<td>Entreprise 3</td>
												<td>contact@entreprise3.com</td>
												<td>+216 71 000 001</td>
												<td>
													<div class="col-sm-2">
														<a class="red" href="">
															<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</a>


												</td>
											</tr>

										</tbody>
									</table>

									<div class="page-content">

										<div class="page-header">
											<h1>
												Listes des entreprises disponibles
											</h1>
										</div>

										<table id="dynamic-table" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>Dénomination</th>
													<th>Email</th>
											
													<th>Téléphone</th>
													<th>Actions</th>

												</tr>
											</thead>
											<tbody>


												<tr>
													<td>Entreprise 1</td>
												<td>contact@entreprise1.com</td>
												<td>+216 71 000 001</td>
													<td><div class="col-sm-2">
														<a class="red" href="">
															<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
														<img src="https://img.icons8.com/material-sharp/30/26e07f/plus--v2.png" width="20"/>
													</a></td>
												</tr>
												<tr>
													<td>Entreprise 4</td>
												<td>contact@entreprise4.com</td>
												<td>+216 71 000 004</td>
													<td><div class="col-sm-2">
														<a class="red" href="">
															<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
														<img src="https://img.icons8.com/material-sharp/30/26e07f/plus--v2.png" width="20"/>
													</a></td>
												</tr>
												<tr>
													<td>Entreprise 5</td>
												<td>contact@entreprise5.com</td>
												<td>+216 71 000 005</td>
													<td><div class="col-sm-2">
														<a class="red" href="">
													<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
														<img src="https://img.icons8.com/material-sharp/30/26e07f/plus--v2.png" width="20"/>
													</a></td>
												</tr>
												<tr>
													<td>Entreprise 6</td>
												<td>contact@entreprise6.com</td>
												<td>+216 71 000 001</td>
													<td><div class="col-sm-2">
														<a class="red" href="">
														<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
													<img src="https://img.icons8.com/material-sharp/30/26e07f/plus--v2.png" width="20"/>
													</a></td>
												</tr>
												<tr>
													<td>Entreprise 7</td>
												<td>contact@entreprise7.com</td>
												<td>+216 71 000 001</td>
													<td><div class="col-sm-2">
														<a class="red" href="">
															<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
														<img src="https://img.icons8.com/material-sharp/30/26e07f/plus--v2.png" width="20"/>
													</a></td>
												</tr>
												<tr>
													<td>Entreprise 8</td>
												<td>contact@entreprise8.com</td>
												<td>+216 71 000 008</td>
													<td><div class="col-sm-2">
														<a class="red" href="">
															<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
													<img src="https://img.icons8.com/material-sharp/30/26e07f/plus--v2.png" width="20"/>
													</a></td>
												</tr>
												<tr>
												<td>Entreprise 9</td>
												<td>contact@entreprise9.com</td>
												<td>+216 71 000 009</td>
													<td><div class="col-sm-2">
														<a class="red" href="">
															<img src="https://icon-library.net//images/show-icon-png/show-icon-png-22.jpg" width="20"/>
														</a>
													</div>
													<div class="col-sm-1"></div>


													<a class="red" href="">
												<img src="https://img.icons8.com/material-sharp/30/26e07f/plus--v2.png" width="20"/>
													</a></td>
												</tr>


											</tbody>
										</table>
									</div>


									<!-- PAGE CONTENT ENDS -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>

						<!-- /.page-content -->
					</div>
				</div>

				<!-- /.main-content -->
				<!-- /configg -->
			{% endblock %}
