{% extends 'base.html.twig' %}

{% block title %}B2B
{% endblock %}

{% block body %}


	<!-- masonry
														================================================== -->
	<div class="hero-wrap js-fullheight" style="background-image: url('../bundles/images/image_5.jpg');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container-fluid px-md-5">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
				<div class="col-md-6 ftco-animate">

					<h2 class="subheading">GRP / B2B
					</h2>
					<h1 class="mb-4">Gestion de Rencontres Professionnelles</h1>
					<p>
						<a href="#" class="btn-custom mr-md-4">Le Salon
							<span class="ion-ios-arrow-forward"></span>
						</a>
						<a href="#" class="btn-custom">Les éditions
							<span class="ion-ios-arrow-forward"></span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<section class="ftco-section ftco-no-pb ftco-no-pt services-section">
		<div class="container-fluid px-md-5 py-3">
			<div class="row py-4 d-flex">
				<div class="col-md-3 services align-self-stretch ftco-animate">
					<div class="media-body">
						<span class="num">01</span>
						<h3 class="heading mb-3">
							<a href="about.html">Edition 2021</a>
						</h3>
						<p>Cette édition s'est déroulé à Sfax en 20 janvier et elle a regroupé plus que 100 entreprises tunisiennes dans le domaine de développement informatique.
						</p>
					</div>
				</div>
				<div class="col-md-3 services align-self-stretch ftco-animate">
					<div class="media-body">
						<span class="num">02</span>
						<h3 class="heading mb-3">
							<a href="#">Edition 2020</a>
						</h3>
						<p>Cette édition s'est déroulé à Sousse en 13 mai et elle s'est concentré sur les innovations dans le domaine d'intelligence artificielle.</p>
					</div>
				</div>
				<div class="col-md-3 services align-self-stretch ftco-animate">
					<div class="media-body">
						<span class="num">03</span>
						<h3 class="heading mb-3">
							<a href="#">Edition 2018</a>
						</h3>
						<p>Cette édition s'est déroulé à Tunis en 24 juin et elle s'est interessé aux nouveautés dans le domaine de robotique.</p>
					</div>
				</div>
				<div class="col-md-3 services align-self-stretch ftco-animate">
					<div class="media-body">
						<span class="num">04</span>
						<h3 class="heading mb-3">
							<a href="#">Edition 2017</a>
						</h3>
						<p>Cette édition s'est déroulé à Bizerte en 13 mars et elle a accueilli plus que 60 innovants et innovantes dans le domaine mécatronique.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-6 d-flex">
					<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end" style="background-image:url(images/about.jpg);">
						<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
				</div>
				<div class="col-md-6 px-5 py-5">
					<div class="row justify-content-start pt-3 pb-3">
						<div class="col-md-12 heading-section ftco-animate">
							<span class="subheading"></span>
							<h2 class="mb-4">Bienvenue à B2B</h2>
							<p>Dans le but de mettre les entreprises en contact pour effectuer des réunions professionnels dans les bons conditions .</p>
							<p>on a pensé de développer cette application qui va être l'espace où les entreprises peuvent se présenter , déclarer leurs choix de rencontres , avoir leurs calendriers et consulter les statistiques et tous les détails des autres entreprises .</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb bg-primary">
		<div class="container py-4">
			<div class="row d-flex justify-content-center">
				<div class="col-md-7 ftco-animate d-flex align-items-center">
					<h2 class="mb-0" style="color:white; font-size: 28px;">Abonnez-vous à notre newsletter</h2>
				</div>
				<div class="col-md-5 d-flex align-items-center">
					<form action="#" class="subscribe-form">
						<div class="form-group d-flex">
							<input type="text" class="form-control" placeholder="Entrez votre Email">
							<input type="submit" value="Abonnez-vous" class="submit px-3">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script src="../bundles/js/sb-admin-2.min.js"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="assets3/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="assets3/vendor/bootstrap/js/popper.js"></script>
	<script src="assets3/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="assets3/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="assets3/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({scale: 1.1})
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-23581568-13');
	</script>

	<!--===============================================================================================-->
	<script src="assets3/js/main.js"></script>

	<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon="{&quot;rayId&quot;:&quot;655a21eb2e1fb781&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.5.1&quot;,&quot;si&quot;:10}"></script>

{% endblock %}
