<form method="post" action="{{ path('salonsalle_delete', {'sallereference': salonsalle.sallereference}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salonsalle.sallereference) }}">
	<button class="btn"><img src="https://img.icons8.com/material-rounded/22/fa314a/trash.png"/></button>
</form>
